extends layout

block content

  h1 Some Title
  
  form(id="userAccountForm", method="post", action="/accountUser")
    input.textWriter(type="text",name="textWriterIndexCommand" id="userAccountCommand", autocomplete="off", autofocus)
    
    br
    br
    p.textWriter Type new or create to make a new TxtPost
    br
    p.textWriter OR
    br
    p.textWriter Type feed to see the public feed of Txts
    br  
