extends layout

block content
  
  h1.textWriter Create A New Account!      
  if(errors)
    for error in errors
      p.error= error
  
  div(name="writerNewAccountWrapper", id="writerNewAccountWrapper", class="writerNewAccountWrapper")
    br
    br
    form(id="writerNewAccountForm", method="post", action="/accountCreate")  
      p.textWriter Enter Your Desired Username:
        input.textWriter(type="text", name="textWriterNewUsername", id="writerNewUsername", autocomplete="off", autofocus)
      br  
      p.textWriter Enter Your Desired Password:
        input.textWriter(type="password", name="textWriterNewPassword", id="writerNewPassword", autocomplete="off")
      br  
      p.textWriter Enter The Same Password:
        input.textWriter(type="password", name="textWriterNewPassword2", id="writerNewPassword2")
      br
      br
      input.textWriterNewAccountButton(type="submit", name="textWriterNewAccountButton", id="textWriterNewAccountButton")    
        
