extends layout

block content 
  
  if(errors)
    for error in errors
      p.error= error
      
  br
  br    
  
  form(name="textWriterLoginForm", method="post", action="/textWriter/login")
    p.textWriter Please Enter Your Username:
      input.textWriter(type="text", name="textWriterUsernameLogin", id="textWriterUsernameLogin", class="textWriterLogin", autocomplete="off", autofocus)
    br
    p.textWriter Please Enter your Password 
      input.textWriter(type="password", name="textWriterPasswordLogin", id="textWriterLogin", class="textWriterPasswordLogin")
    input.textWriterNewAccountButton(type="submit", name="textWriterLoginButton", id="textWriterLoginButton", class="textWriterLoginButton")  
