extends layout

block content

  h1 New Txt!
  if(errors)
    for error in errors
      p.error= error
  form.newTextForm(name="newTxtForm" method="post", action="/newTxt")      
    textarea#newTextTA(name="newTxtTA", class="newTxtTA" autocomplete="off", autofocus)
    br
    input(type="submit", id="newTextButton", class="newTextButton")
    
