extends layout

block content

  h1 New Txt!
  if(errors)
    for error in errors
      p.error= error
  
  textarea#newTextTA(name="newTxtTA", class="newTxtTA", autocomplete="off", autofocus)
   
  form.newTextForm(name="newTxtForm" method="post", action="/userTxts")  
    input(type="submit", id="newTextButton", class="newTextButton")
