extends layout

block content

  h1 Edit Txt!

  if(errors)
    for error in errors
      p.error= error   
  form.showTextForm(name="showTxtForm" method="post", action="/userTxts")      
    textarea#showTextTA(name="showTxtTA", class="showTxtTA" autocomplete="off", autofocus)= entry.entry
    br
    input(type="submit", id="showTextButton", class="showTextButton")
  
