body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: lime;
}

a {
  color: #00B7FF;
}

h1.textWriter {
  text-align: center;
}

pre.startText {
  background-color: block;
  color: lime;
}

p.error {
  color: red;
  text-align: center;
}

div.writerNewAccountWrapper {
  width: 600px;
  margin: 0 auto;
}

form.writerNewAccountForm {
  margin: 1 auto;
  color: lime;
}

input#userAccountCommand {

}

input#writerNewUsername {
  height: 18px;
  font-size: 15px;
  float: right;
  width: 35%;
}

input#writerNewPassword {
  height: 18px;
  font-size: 15px;
  float: right;
  width: 35%;
}

input#writerNewPassword2 {
  height: 18px;
  font-size: 15px;
  float: right;
  width: 35%;
}

input#textWriterNewAccountButton {
  background-color: black;
  color: lime;
  border-style: solid;
  border-color: lime;
  margin-left: 250px;
}

textarea#newTextTA {
  width:90%;
  height: 650px;
  resize: none;
  margin: 0 auto;
  background-color: black;
  color: lime;
  outline: none;
  border: 1px solid lime;
  font-size: 16px;
}

textarea#editTextTA {
  width:90%;
  height: 650px;
  resize: none;
  margin: 0 auto;
  background-color: black;
  color: lime;
  outline: none;
  border: 1px solid lime;
  font-size: 16px;
}

textarea#showTextTA {
  width:90%;
  height: 650px;
  resize: none;
  margin: 0 auto;
  background-color: black;
  color: lime;
  outline: none;
  border: 1px solid lime;
  font-size: 16px;
}

form.newTextForm{
  background-color: black;
  color: lime;
  margin: auto;
}

input#newTextButton {
  background-color: black;
  color: lime;
  border-style: 1px solid lime;
  border-color: lime;
  margin: auto;
  outline: none;
}

input#editTextButton {
  background-color: black;
  color: lime;
  border-style: 1px solid lime;
  border-color: lime;
  margin: auto;
  outline: none;
}

input#showTextButton {
  background-color: black;
  color: lime;
  border-style: 1px solid lime;
  border-color: lime;
  margin: auto;
  outline: none;
}



input.textWriterIndexCommand {
  width: 90%;
  color: lime;
  margin-left: 15px;
  size: 920;
  length: 90%;
  outline: none;
  border: none;
  /*border: 1px solid;
  border-color: lime;*/
  background-color: black;
  font-size: 14px;
}

p.leader {
  color: lime;
  background-color: black;
  font-size: 14px;
}

p.leaderDoc {
  color: lime;
}
